@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Nurses</h2>

<div class="">

    @using (Html.BeginForm("Create", "Nurse", FormMethod.Get))
    {
        <div class="">
            <button type="submit" class="btn btn-primary">Add New Nurse</button>
        </div>
        <br>
    }

</div>

<div class="">
    <table id="nurses" class="table caption-top">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Speciality</th>
                <th scope="col">Phone Number</th>
                <th scope="col">E-mail Address</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
        </tbody>

    </table>
</div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            var table = $("#nurses").DataTable({
                ajax: {
                    url: "/api/nurses",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name",
                        render: function (data, type, procedure) {
                            return "<a href='/nurse/edit/" + procedure.Id + "'>" + procedure.Name + "</a>"
                        }
                    },
                    {
                        data: "Speciality"
                    },
                    {
                        data: "PhoneNumber"
                    },
                    {
                        data: "EmailAddress"
                    },
                    {
                        data: "Id",
                        render: function (data) {
                            return "<button class = 'btn btn-link js-delete' data-nurse-id=" + data + ">Delete</button>"
                        }
                    }

                ]

            });

            $("#nurses").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this nurses entry?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/nurses/" + button.attr("data-nurse-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        })
                    }
                });
            });

        });
    </script>
}
